<div class="container">
  {{#flashMessage}}
    <div class="flash">
      {{message}}
      <button type="button" class="close" {{action 'closeFlashMessage'}} aria-hidden="true">&times;</button>
    </div>
  {{/flashMessage}}
  <h2 id='title'>Attendence</h2>

  {{outlet}}
</div>
