<form>
  {{view 'type-ahead' data=model.students name="name" selection=model.attendance.student}}
  <button class="btn btn-success" {{action createAttendance}}>Sign in</button>
</form>
{{#link-to 'attendances'}}View all attendances{{/link-to}}
