<form>
  {{input type='text' value=name id='student-name'}}
  <button class="btn btn-success" {{action createAttendance}}>Sign in</button>
</form>

{{view App.dropDown contentBinding="filteredStudents"}}
{{#link-to 'attendances'}}View all attendances{{/link-to}}
